
<div class="location"> <h3>Location</h3>
    
    <div class="locate1">
            <h5>Maduram1</h5>
            <p>13, Mudaliyar street, Konavaikal palayam, 
                Podanur, Coimbatore-641023</p>
            <b><p>Opening Hours</p></b>
            <p>Monday 8.30am – 8pm Tuesday 8.30am – 8pm Wednesday 8.30am – 8pm
               Thursday 8.30am – 8pm Friday 8.30am – 8pm Saturday 8.30am – 8pm
               Sunday CLOSED</p>

            <p>*Subject to change – please call if unsure. </p>
    </div>

    <div class="locate2">
        <h5>Maduram2</h5>
        <p>10, Patel street,<br> Edayar palayam, 
            <br>Vellalore, Coimbatore-641111</p>
        <b><p>Opening Hours</p></b>
        <p>Monday 8.30am – 8pm Tuesday 8.30am – 8pm Wednesday 8.30am – 8pm
            Thursday 8.30am – 8pm Friday 8.30am – 8pm Saturday 8.30am – 8pm
            Sunday CLOSED</p>

        <p>*Subject to change – please call if unsure. </p>
    </div>

    <div class="locate3">
        <h5>Maduram3</h5>
        <p>13, kattampatty road, Mandram palayam,
           Vadasithur, Coimbatore-641202</p>
        <b><p>Opening Hours</p></b><br>
        <p>PLEASE CALL TO CHECK OPENING HOURS</p>
    </div>

</div>








<div>
    <router-outlet></router-outlet>
</div>