
<div class="shop">

    <div class="bees">
        <img src="./../../assets/bees.jpg" width="125px" height="125px"  [routerLink] = "'/bees'" />
    </div>
    <!-- (click)="shop($event)" -->
    <div class="beebox">
        <img src="./../../assets/beebox.jpg" width="125px" height="125px" [routerLink] = "'/beebox'" />
    </div>

    <div class="beestand">
        <img src="./../../assets/beestand.jpg" width="125px" height="125px" [routerLink] = "'/beestand'" />
    </div>

    <div class="honey">
        <img src="./../../assets/honey.jpg" width="125px" height="125px" [routerLink] = "'/honey'" />
    </div>

    <div class="honeyextractor">
        <img src="./../../assets/honeyextractor.jpg" width="125px" height="125px" [routerLink] = "'/honeyextractor'" />
    </div>

    <div class="gloves">
        <img src="./../../assets/beegloves.jpg" width="125px" height="125px" [routerLink] = "'/gloves'" />   
    </div>

    <div class="mask">
        <img src="./../../assets/beemask.jpg" width="125px" height="125px" [routerLink] = "'/mask'" />
    </div>

    <div class="frames">
        <img src="./../../assets/beeframe.jpg" width="125px" height="125px" [routerLink] = "'/frames'" />
    </div>

    <div class="smoker">
        <img src="./../../assets/beesmoker.jpg" width="125px" height="125px" [routerLink] = "'/smoker'" />
    </div>
    
    <div class="knife">
        <img src="./../../assets/beeknife.jpg" width="125px" height="125px" [routerLink] = "'/knife'" />
    </div>

    <div class="fullbeesetup">
        <img src="./../../assets/fullbeesetup.jpg" width="125px" height="125px" [routerLink] = "'/fullbeesetup'" />
    </div>
    
</div>




<div>
    <router-outlet></router-outlet>
</div>