.contactus{
    position: absolute;
    width: 55%;
    float: left;
    left: 30%;
    top: 450px;
    background-color: darkgreen;

}

.head{
    position: absolute;
    width: 100%;
    float: left;
    left: 0%;
    top: 0%;
}


.con_info{
    position: absolute;
    float: left;
    left: 10%;
    width: 50%;
    top: 80px;
}


.detcon{
    position: absolute;
    float: left;
    left: 15%;
    top: 650px;
}
