<div class="homeinfo">


<div class="content">

    <h1>"    Our <b>commitment</b> to <b>quality</b> has clients</h1>
    <h1> <b>India wide</b> ordering our products.    "</h1>
</div>

<div class="supply">

    <h1>India Wide Beekeeping Supplies</h1>

    <h6>As specialists in our field, Burnett Beekeeping Supplies are supplying apiarists across Australia  with high standard beekeeping equipment to keep bees happy and loving their bee hives. Our products are now in demand as our reputation for quality is gaining momentum.  Located just outside of Kingaroy in the heart of the beautiful South Burnett, we manufacture a range of products including:
    </h6></div>

<div class="list">
    <h5>
        1. Quality Hoop Pine Boxes<br>
        2. Frames<br>
        3. Clearer Boards<br>
        4. Lid Rim<br>
        5. Risers<br>
        6. Foundation
    </h5>
</div>

<div class="order">
    <h2>Bulk Orders Welcome<br></h2>
        <div class="number">  <h2> 7812032986</h2></div>
</div>

</div>


<div>
    <router-outlet></router-outlet>
</div>