
<div class="home">

    <div class="banner"><img src="./../../assets/banner.jpg" width="100%" height="300px"></div>

    <div class="menu">
            
    <div class="route1">
        <button style="height: 10px;" [routerLink] = "'homeinfo'" class="button button11" ><h6>Home</h6></button>
    </div>

    <div class="route2">
        <button style="height: 10px;" [routerLink] = "'shop'"  class="button button12" ><h6>Shop</h6></button>
    
        <div class="dropdown-content">

            <a [routerLink] = "'bees'"><h6>Bees</h6></a>

            <a [routerLink] = "'beebox'"><h6>Beebox</h6></a>

            <a [routerLink] = "'beestand'"><h6>Beestand</h6></a>

            <a [routerLink] = "'honey'"><h6>Honey</h6></a>

            <a [routerLink] = "'honeyextractor'"><h6>Honeyextrator</h6></a>

            <a [routerLink] = "'gloves'"><h6>Gloves</h6></a>

            <a [routerLink] = "'mask'"><h6>Mask</h6></a>

            <a [routerLink] = "'frames'"><h6>Frames</h6></a>

            <a [routerLink] = "'smoker'"><h6>Smoker</h6></a>

            <a [routerLink] = "'knife'"><h6>Knife</h6></a>

            <a [routerLink] = "'fullbeesetup'"><h6>Fullbeesetup</h6></a>

        </div>
        
    </div>

    <div class="route3">
        <button style="height: 10px;" [routerLink] = "'contactus'"  class="button button13" ><h6>ContactUs</h6></button>
    </div>

    <div class="route4">
        <button style="height: 10px;" [routerLink] = "'aboutus'" class="button button14"><h6>AboutUs</h6></button>
    </div>

    <div class="route5">
        <button style="height: 10px;" [routerLink] = "'latestnews'" class="button button15"><h6>LatestNews</h6></button>
    </div>

    </div>




<div class="detail">

  <div class="com_name">  <h1 style="color: brown;">Maduram Beefarm</h1>  </div>
  <div class="con_det"><h3 style="color: brown;"> Coimbatore-641023</h3></div>
  

</div>

<div class="find_product">


    <div class="label1"><h3>Find a Product</h3></div>
    <div class="bees"> 
           <button style="height: 10px; width: 150px;" [routerLink] = "'bees'" class="button button21"><h6>Bees</h6></button>
    </div>
    
    <div class="beebox">
        <button style="height: 10px; width: 150px;" [routerLink] = "'beebox'" class="button button22"><h6>Beebox</h6></button>
    </div>
    
    <div class="beestand">
        <button style="height: 10px; width: 150px;" [routerLink] = "'beestand'"  class="button button23"><h6>Beestand</h6></button>
    </div>
    
    <div class="honey">
        <button style="height: 10px; width: 150px;" [routerLink] = "'honey'"  class="button button24"><h6>Honey</h6></button>
    </div>
    
    <div class="honeyextractor">
        <button style="height: 10px; width: 150px;" [routerLink] = "'honeyextractor'" class="button button25"><h6>Honeyextrator</h6></button>
    </div>
    
    <div class="gloves">
        <button style="height: 10px; width: 150px;" [routerLink] = "'gloves'" class="button button26"><h6>Gloves</h6></button>
    </div>
    
    <div class="mask">
        <button style="height: 10px; width: 150px;" [routerLink] = "'mask'"  class="button button27"><h6>Mask</h6></button>
    </div>

    <div class="frames">
        <button style="height: 10px; width: 150px;" [routerLink] = "'frames'"  class="button button28"><h6>Frames</h6></button>
    </div>
    
    <div class="smoker">
        <button style="height: 10px; width: 150px;" [routerLink] = "'smoker'"  class="button button29"><h6>Smoker</h6></button>
    </div>

    <div class="knife">
        <button style="height: 10px; width: 150px;" [routerLink] = "'knife'"  class="button button30"><h6>Knife</h6></button>
    </div>

    <div class="fullbeesetup">
        <button style="height: 10px; width: 150px;" [routerLink] = "'fullbeesetup'"  class="button button31"><h6>Fullbeesetup</h6></button>
    </div>

</div>





<div class="copyright">

    <div class="content">
        <p>  - Orders that have been Invoiced will be held in your cart for 14 days before it is cancelled.</p>
        <p>  - Products are subject to current availability and manufacturing times. </p>
        <p>  - Please <b>CHECK YOUR ITEMS</b> before placing your order. </p>
        <p>  - All orders are processed manually by our friendly staff.</p>
        <p>  - This means that if you place your order outside business hours, we’ll get to them the next working day.</p>
       
       <h6> © Maduram Beekeeping Supplies 2020      </h6>
       <h6> Built with Sathish&co.    </h6>
    
    </div>
</div>

</div>

<div>
    <router-outlet></router-outlet>
</div>